<div class="modal" tabindex="-1" role="dialog" ng-app="registerApp">
    <div ng-controller="AddInfoCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <h4 class="modal-title">Registrer ny sesjon</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="simple-form">
                            <label for="title">Tittel:</label>
                            <input ng-model="session.title" type="text" class="form-control" id="title">
                    </form>
                </div>
                <pre>
                    <pre>{{session | json}}</pre>
                </pre>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="update(session)">Lagre</button>
            </div>
        </div>
    </div>
    </div>
</div>